/* Header */
body{
  font-family: 'Dosis', sans-serif;
  margin: 0;
}
.large-header {
  width: 100%;
  background: #222;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  font-family: 'Dosis', sans-serif;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

#showcase{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  /*align it horizontolly*/
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0 20%;
  text-align: center;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
  color: whitesmoke;
}
#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color:whitesmoke;
  border: #cfd2a3 0.7px solid;
  padding: 8px 20px;
  border-radius: 50px;
  margin-top: 20px;
  width: 100px;
}
#showcase .button:hover{
  background: #ecf0f1;
  transition: 0.6s linear;
  color: #545050;
}
.black{
    color: black !important;
}
.white{
    color: whitesmoke !important;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
.welcome{
    border-radius: 50px !important;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;

}
.panel{
  background-color: #FFF !important;

}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
