body{
  background-color: #4a4a4a;
  height: 100vh;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #eee;
    background-color: #eaeaea;
    position: relative;
    z-index: 1000;
}
.scrollable{
  overflow: scroll;
  height: 100vh;
}


.content {
  margin-top: 10px;
  border-radius: 0px;
}
