@import url('https://fonts.googleapis.com/css?family=Roboto:100');

/* BASIC */
* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #4e364ebb;

}
.form{
margin-top: 15vh;
  height: 60vh;
}
.logo{
  margin-bottom: 40%;
}
