@import url('https://fonts.googleapis.com/css?family=Roboto:100');

/* BASIC */
* {
  box-sizing: border-box;
  border-radius: 0px !important;
}
html {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: #4e364ebb;

}
.align-middle{
  position: relative;
}
.form{
margin-top: 25vh;

}
