body { margin:0; padding:0; background: #191a1a}
#map { width:100vw; height: 100%; margin: 0 auto;}
.mapboxgl-ctrl-geocoder {
    width: 100vw;
    border-radius: 0px;
    top: -10;
}
.hamburger{
  margin: 1rem;
}
.hamburger .line {
   background-color: #ececec;
}
