body{
  margin:0;
  padding:0;
  background: #191a1a;
  height: 100vh;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #eee;
    background-color: #eaeaea;
    position: relative;
    z-index: 1000;
}



.content {
  margin-top: 10px;
  border-radius: 0px;
}




@media (maxwidth:600px){
  .scrollable{
    overflow: scroll;
    height: 100vh;
  }
}

#map{
   width:100vw;
   height: 90%;
   margin: 0 auto;
    }

.mapboxgl-ctrl-geocoder {
    width: 100vw;
    border-radius: 0px;
    top: -10;
}

.hamburger{
  margin: 1rem;
}

.hamburger .line {
   background-color: #ececec;
}



.hamburger{
margin: 1rem;
}
.hamburger .line {
   background-color: #ececec;
}
.map-overlay {
    font: 12px/20px 'Dosis', Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 10px;
    opacity: 0;

}

.map-overlay-inner fieldset {
    border: none;
    padding: 0;
    margin: 0 0 10px;
}
