.six {
  width: 49.2%;
}
#sideNav{
  background-color: black;
  position: absolute;
  display: inline-block;
  left: 0;
  padding: 0;
  height: 100vh;
  background-color: #ddefee;
  z-index: 1000;
  overflow-y: scroll;
}
.sideLinks{
  background-color: #ddefee;
  text-decoration: none;
  list-style: none;
  padding-left: 0px;

}
.sideLinks .btn-sm{
  color: rgba(85, 85, 85, 0.71) !important;
}
.sideLinks> li > .btn-success:focus{
  background-color: #41394c !important;
}
.sideLinks a:hover {
background-color: #fcfcfc;
border: solid 0.004vh #707070;
border-left: solid 0.6vh #71daed;
}
.sideLinks li > a{
  width: 100%;
    color: rgba(89, 89, 89, 0.71) !important;
    border-radius: 0px;
    background-color: #ddefee;

    text-align: left;
    padding: 2vh 0px 2vh 3vh;
    border: solid #f3ffed 0.1px;
}
#ACC a{
  width: 100%;
  border-radius: 0px;
  background-color: #ddefee;
  text-align: left;
  padding: 2vh 0px 2vh 3vh;
}
#ACC a:hover{
  background-color: #ddefee;
  border: solid 0.004vh #b7c780;
  border-left: solid 0.6vh #c3eaaa;
}
#ACC2 a{
  width: 100%;
  border-radius: 0px;
  background-color: #ddefee;
  text-align: left;
  padding: 2vh 0px 2vh 3vh;
}
#ACC2 a:hover{
  background-color: #ddefee;
  border: solid 0.004vh #b7c780;
  border-left: solid 0.6vh #c3eaaa;
}
#ACC3 a{
  width: 100%;
  border-radius: 0px;
  background-color: #ddefee;
  text-align: left;
  padding: 2vh 0px 2vh 3vh;
}
#ACC3 a:hover{
  background-color: #ddefee;
  border: solid 0.004vh #b7c780;
  border-left: solid 0.6vh #c3eaaa;
}
