body{
  background-color: #fbfbfb;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #eee;
    background-color: #eaeaea;
    position: relative;
    z-index: 1000;
}
@media (maxwidth:600px){
  .scrollable{
    overflow: scroll;
    height: 100vh;
  }
}
